@charset "utf-8";

img, video {
    width: 100%;
    height: auto;
}
body {
    background: #000;
}
.swiper-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.swiper-container .swiper-wrapper {
    width: auto;
    height: auto;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: url(../img/arrow_prev.png);
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: url(../img/arrow_next.png);
}
.swiper-button.-disable {
    pointer-events: none;
}
.swiper-button-prev.-disable:after {
    opacity: 0.2;
}
.swiper-button-next.-disable:after {
    opacity: 0.2;
}